/**{margin: 0;
}

body{
  margin:0;
}
header{
  height: 800px;
  padding-top: 20px;
}*/
.container1{
  height: 800px;
  padding-top: 20px;
  background-size: cover;
  background-image: url("./img/image-499666622.jpg");
  background-repeat: no-repeat;
  marging:0;

}

body{
  background-color: green;

}

h1.titre{

  text-align: left;
  font-size: 50px;
  color: white;
}
.sous-titre{
  margin-top: 120px;
  margin-bottom: auto;

  text-align: left;
  font-size: 40px;
  color: white;
}
#logo{
  margin-left: 13%;

}
.btn-warning {
  width: 400px;
  height:300px;
  margin-left:200px;
  margin-bottom:370px;
  color: white;
  background-color: #FF4500;
  border-color: #FF4500;
}

.btn-warning:hover {
  width: 400px;
  height:300px;
  margin-left: :200px;

  margin-bottom:370px;
  color:white;
  background-color: #FF4500;
  border-color: #FF4500;
}
.jumbotron {
 margin: 10%;
  color: inherit;
}

.navbar-default ,
.navbar-nav > li > a {
  color: white;}

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
  }
